<!--
<div cla>ss="row">
  {{# each products}}
  <div class="col-md-4">
    <div class="thumbnail">
      <img src= "{{this.imagePath}}" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Call of Duty - Modern Warfare</h3>
        <p class="description">The stakes have never been higher as players take on the role of lethal Tier One operators in a heart-racing saga that will affect the global balance of power. Developed by the studio that started it all, Infinity Ward delivers an epic reimagining of the iconic Modern Warfare® series from the ground up.</p>
        <div class="clearfix"><div class="price pull-left">$12</div><a href="#" class="btn btn-success pull-right" role="button">Add to shopping cart</a></div>
      </div>
    </div>
  </div>
{{/each}}
</div>
-->

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://upload.wikimedia.org/wikipedia/en/e/e9/CallofDutyModernWarfare%282019%29.jpg" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Call of Duty - Modern Warfare</h3>
        <p class="description">The stakes have never been higher as players take on the role of lethal Tier One operators in a heart-racing saga that will affect the global balance of power. Developed by the studio that started it all, Infinity Ward delivers an epic reimagining of the iconic Modern Warfare® series from the ground up.</p>
        
        <div class="clearfix"><div class="price pull-left">$12</div><a href="#" class="btn btn-success pull-right" role="button">Add to shopping cart</a></div>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://flarefiles.com/wp-content/uploads/2019/06/FIFA-2019.jpeg" alt="..." class="img-responsive">
      <div class="caption">
        <h3>FIFA 19</h3>
        <p class="description">FIFA 19 delivers a champion-caliber experience on and off the pitch. Experience the all-new standalone UEFA Champions League mode to play the famous tournament from the group stage to the final.
In The Journey: Champions, take control of iconic young footballer Alex Hunter and pursue Champions League glory. </p>
        
        <div class="clearfix"><div class="price pull-left">$12</div><a href="#" class="btn btn-success pull-right" role="button">Add to shopping cart</a></div>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://lh3.googleusercontent.com/proxy/LxM4_0QypkomV65GiYFTFeKZ93MCLufYIIDZHiktVFhv3tVrDhIUEBCgJAPZPU94XCdrSMNrvNswBOFx2sxEGifxJ-PAlCWa4WFslzKMpZmzFqaCo2MgKL0n" alt="..." class="img-responsive">
      <div class="caption">
        <h3>League of legends</h3>
        <p class="description">The stakes have never been higher as players take on the role of lethal Tier One operators in a heart-racing saga that will affect the global balance of power. Developed by the studio that started it all, Infinity Ward delivers an epic reimagining of the iconic Modern Warfare® series from the ground up.</p>
        
        <div class="clearfix"><div class="price pull-left">$12</div><a href="#" class="btn btn-success pull-right" role="button">Add to shopping cart</a></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://cdn-products.eneba.com/resized-products/t0zqmqhdcxppyol3mtlg_390x400_1x-0.jpg" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Grand Theft Auto</h3>
        <p class="description">The stakes have never been higher as players take on the role of lethal Tier One operators in a heart-racing saga that will affect the global balance of power. Developed by the studio that started it all, Infinity Ward delivers an epic reimagining of the iconic Modern Warfare® series from the ground up.</p>
        
        <div class="clearfix"><div class="price pull-left">$12</div><a href="#" class="btn btn-success pull-right" role="button">Add to shopping cart</a></div>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://cnet2.cbsistatic.com/img/BCHsMQtSJzQLJS82_WgkcVt03VM=/756x567/2019/09/26/b9836373-56d7-44c8-b4f8-dd2e99a24f07/screen-shot-2019-09-26-at-11-29-49-am.png" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Final Fantasy VII</h3>
        <p class="description">The stakes have never been higher as players take on the role of lethal Tier One operators in a heart-racing saga that will affect the global balance of power. Developed by the studio that started it all, Infinity Ward delivers an epic reimagining of the iconic Modern Warfare® series from the ground up.</p>
        
        <div class="clearfix"><div class="price pull-left">$12</div><a href="#" class="btn btn-success pull-right" role="button">Add to shopping cart</a></div>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://m.economictimes.com/thumb/msid-71577143,width-1200,height-900,resizemode-4,imgsize-500325/fortnite.jpg" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Fornite</h3>
        <p class="description">The stakes have never been higher as players take on the role of lethal Tier One operators in a heart-racing saga that will affect the global balance of power. Developed by the studio that started it all, Infinity Ward delivers an epic reimagining of the iconic Modern Warfare® series from the ground up.</p>
        
        <div class="clearfix"><div class="price pull-left">$12</div><a href="#" class="btn btn-success pull-right" role="button">Add to shopping cart</a></div>
      </div>
    </div>
  </div>
  
</div>